$win-header-color: silver;
$main-font: Oxygen, serif;

body{
  background-color: purple;
  margin: 0;
}

#app-outer{
  min-height: calc(100vh - 16px);
  max-height: 100%;
  margin: 10px 0;
  padding: 0;
  box-sizing: border-box;
}

#title{
  margin: 10px auto 20px auto;
  font-family: $main-font;
  font-size: 40px;
  text-align: center;
  color: white;
}

#app-inner{
  width: calc(100%-10px);
  margin: 0;
  padding: 0px 10px;
}

.window-pane{
  width: 80%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $win-header-color;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  box-shadow: 5px 5px black;  
}

#editor-outer{
  @extend .window-pane;
  vertical-align: top;
  overflow-y: hidden; 
}

.window-header{
  display: flex;
  justify-content: space-between;
}

.window-pane h2{
  margin: 5px 0px 0px 10px;  
  font-family: $main-font;
  font-size: 20px;
}

#editor{
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 5px;
  margin: 0;
  min-height: 250px;
  box-sizing: border-box;
  resize: none;
  background-color: white;
  border-top: 2px solid black;  
}

#preview-outer{
  @extend .window-pane;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

#preview{
  width: 100%;
  height: 100%;
  padding: 5px 5px 5px 10px;
  margin: 0;
  overflow-wrap: break-word;
  box-sizing: border-box;
  background-color: white;
  border-top: 2px solid black;
}

#button-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  width: 410px;
  margin: 10px auto;
  text-align: center;
}

#button-div button{
  height: 40px;
  font-size: 20px;
  font-family: $main-font;
  font-weight: bold;
  background-color: #262626;
  color: white;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

#button-div button:hover{
  background-color: #666666;
}

#button-div button:focus{
  outline: 0;
}

#button-div button:disabled{
  color: black;
}


@media (max-width: 700px){
  .window-pane{
    width: 100%;
  }
}

